#footer {
	img {
		margin-top: 50px;
	}
	
	h4 {
		color: $color-white;
		font-size: $h5;
		font-weight: $normal;
		margin: 25px 0;
	}
	
	.links {
		background: #395561;
		padding: 100px 0;
		margin: 0;
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
		li {
			margin-bottom: 10px;
      list-style: none;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
		
		a {
			text-decoration: none;
			font-size: $h5;
			
			&:hover, &:focus {
				color: $color-white;
			}
		}
	}
	
	.copyright {
		background: #1b2d37;
		padding: 25px 0;
		color: #648391;
		font-size: 12px;
	}
}
