$color-white: #FFFFFF;
$color-black: #000000;

$color-gray-lighter: #fcfcfc;
$color-gray-light02: #8fa2ab;
$color-gray-light: #E4E8EA;
$color-gray: #b7c2c7;
$color-gray-dark: #2a414d;
$color-gray-darker: #999999;

$color-green: #55b8b8;
$color-green-light: #83cbb4;
$color-green-lighter: #89d0bb;

$color-red: #f45266;

$color-gray-light-medium: #ededed;
$color-gray-light-medium-2: #e3e3e3;
$color-gray-2: #777;
$color-gray-darkest: #45494E;
$color-gray-3: #95A9B4;
$color-gray-medium: #A0B1B9;
$color-green-lightest: #d7e7e4;
