<header class="header pt20-sm-down pb20-sm-down flex">
	<div class="container flex flex--align-vertical flex--justify-space-between">
		<div class="header__logo element-block-sm-down text-center mb20-sm-down">
			<img src="images/logo.svg" alt="Miigle Logo">
		</div>

		<nav class="header__nav element-block-sm-down">
			<ul class="flex">
				<li><a href="#" class="gradient">Submit Your Brand</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</nav>
	</div>
</header>
<main>