/*----------------------------------*\
    Header
\*----------------------------------*/
@media (min-width: 0px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: none !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
    display: block !important;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

.primary-nav {
  min-height: 90px;
  background: $color-white;
  border: none;
  border-bottom: solid 1px $color-gray-light-medium;
  box-shadow: 2px 2px 2px $color-gray-light-medium-2;

  .notice-present & {
    top: 120px;
  }

  @media (min-width: 768px) {
    .notice-present & {
      top: 90px;
    }
  }

  > .container {
    position: relative;
  }

  @media (min-width: 768px) {
    .navbar-header {
      float: none;
    }
  }

  .navbar-brand {
    float: left;
    padding: 35px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 90px;
    @media (max-width: 767px) {
      padding-left: 30px;
    }
  }

  .navbar-toggle {
    display: block !important;
    border-color: $color-gray-medium;
    border-radius: 3px;
    border-width: 2px;
    opacity: .8;
    width: 33px;
    height: 33px;
    padding: 0;
    float: right;
    margin-right: 15px;
    margin-top: 28px;
    margin-bottom: 28px;

    @media (max-width: 767px) {
      margin-right: 30px;
    }

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      background: transparent;
    }

    .icon-bar {
      // height: 1px;
      background-color: $color-gray-medium;
      width: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.featured-nav {
  float: right;

  > ul {
    clear: both;
    overflow: hidden;
    margin: 0 20px 0 0;
    padding: 0;

    > li {
      height: 90px;
      float: left;
      display: inline-block;
      padding: 35px 20px;
      font-size: 14px;

      &.is-featured {
        > a {
          color: $color-green;
        }
      }

      > a {
        color: $color-gray-3;
        text-decoration: none;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        font-weight: bold;

        &:active,
        &:focus,
        &:hover {
          color: $color-green;
          text-decoration: none;
        }
      }
    }
  }
}

.collapsed-nav {
  background: $color-green;
  overflow-y: visible !important;
  max-height: none !important;
  border: none;
  box-shadow: none;
  position: fixed;
  top: 90px;
  left: 15px;
  right: 15px;
  width: 100%;

  &.in {
    > ul > li {
      opacity: 1;
    }
  }

  > ul {
    list-style: none;
    margin: 10px 0;
    padding: 0 10px;
    
    > li {
      border-bottom: solid 1px rgba($color-white, .2);
      padding: 0;
      opacity: 0;
      
      &:last-child {
        border-bottom: none;
      }

      > a {
        color: $color-white;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        padding: 15px 10px;
        text-align: center;
        display: block;
        opacity: .9;
        text-transform: uppercase;

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          opacity: 1;
        }
      }
    }
  }

  @media (min-width: 992px) {
    width: auto;
    left: auto;
    right: 25px;
    top: 80px;
    z-index: 9999;
    border-radius: 3px;
    position: absolute;

    &:before {
      content: ' ';
      height: 0;
      position: absolute;
      width: 0;
      border: 12px solid transparent; /* arrow size */
      border-bottom-color: $color-green;  /* arrow color */

      /* positioning */
      position: absolute;
      top: -24px;
      right: 15px;
      z-index: 2;
    }
  }
}

