/* marketplace grid */
@media (min-width:0px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }
    .navbar-collapse.collapse {
        display: none!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important
    }
    .navbar-collapse.in {
        overflow-y: visible;
        display: block!important
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }
}

.primary-nav {
    min-height: auto;
    background: #fff;
    border: none;
    border-bottom: none;
    box-shadow: 0 1px 1px #e3e3e3
}
@media (min-width: 992px) {
.primary-nav .collapsed-nav.in::before {
  display: table;  
  content: " ";
    height: 0;
    width: 0;
    border: 12px solid transparent;
    border-bottom-color: #55b8b8;
    position: absolute;
    top: -24px;
    right: 15px;
    z-index: 2;
  }
}

.notice-present .primary-nav {
    top: 120px
}

.featured-nav>ul>li>a {
  font-weight: normal;
}

@media (min-width:768px) {
    .notice-present .primary-nav {
        top: 90px
    }
}

.primary-nav>.container {
    position: relative
}

@media (min-width:768px) {
    .primary-nav .navbar-header {
        float: none
    }
}

.primary-nav .navbar-brand {
    float: left;
    padding: 35px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 90px
}

@media (max-width:767px) {
    .primary-nav .navbar-brand {
      padding: 25px 15px;
      height: 74px;
    }
}

.primary-nav .navbar-toggle {
    display: block!important;
    border-color: #a0b1b9;
    border-radius: 3px;
    border-width: 2px;
    opacity: .8;
    width: 33px;
    height: 33px;
    padding: 0;
    float: right;
    margin-right: 15px;
    margin-top: 28px;
    margin-bottom: 28px
}

@media (max-width:767px) {
    .primary-nav .navbar-toggle {
      margin: 20px 15px;
    }
}

.primary-nav .navbar-toggle:active,
.primary-nav .navbar-toggle:focus,
.primary-nav .navbar-toggle:hover {
    opacity: 1;
    background: transparent
}

.primary-nav .navbar-toggle .icon-bar {
    background-color: #a0b1b9;
    width: 20px;
    margin-left: auto;
    margin-right: auto
}

.collapsed-nav {
    background: #55b8b8;
    overflow-y: visible!important;
    max-height: none!important;
    border: none;
    box-shadow: none;
    position: fixed;
    top: 90px;
    left: 15px;
    right: 15px;
    width: 100%
}

.collapsed-nav.in>ul>li {
    opacity: 1
}

.collapsed-nav>ul {
    list-style: none;
    margin: 10px 0;
    padding: 0 10px
}

.collapsed-nav>ul>li {
    border-bottom: 1px solid hsla(0, 0%, 100%, .2);
    padding: 0;
    opacity: 0
}

.collapsed-nav>ul>li:last-child {
    border-bottom: none
}

.collapsed-nav>ul>li>a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 10px;
    text-align: center;
    display: block;
    opacity: .9;
    text-transform: uppercase
}

.collapsed-nav>ul>li>a:active,
.collapsed-nav>ul>li>a:focus,
.collapsed-nav>ul>li>a:hover {
    text-decoration: none;
    opacity: 1
}

@media (min-width:992px) {
    .collapsed-nav {
        width: auto;
        left: auto;
        right: 25px;
        top: 80px;
        z-index: 9999;
        border-radius: 3px;
        position: absolute
    }
    .collapsed-nav:before {
        content: " ";
        height: 0;
        width: 0;
        border: 12px solid transparent;
        border-bottom-color: #55b8b8;
        position: absolute;
        top: -24px;
        right: 15px;
        z-index: 2
    }
}

.container {
    max-width: 100%
}

@media only screen and (min-width:768px) {
    .container {
        width: 768px
    }
}

@media only screen and (min-width:992px) {
    .container {
        width: 960px
    }
}

@media only screen and (min-width:1200px) {
    .container {
        width: 1140px
    }
}
/*
@media only screen and (min-width:1440px) {
    .container {
        width: 1440px
    }
}*/

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px
}

@media only screen and (max-width:991px) {
    .container,
    .container-fluid {
        padding-right: 12px;
        padding-left: 12px
    }
}

.row {
    margin-right: -10px;
    margin-left: -10px
}

.flex,
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex--row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.flex--row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.flex--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex--column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.flex--justify-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.flex--justify-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.flex--justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.flex--justify-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.flex--justify-space-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.flex--align-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.flex--align-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.flex--align-vertical {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.flex--align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.flex--align-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

.flex--left {
    -ms-flex-line-pack: start;
    align-content: flex-start
}

.flex--right {
    -ms-flex-line-pack: end;
    align-content: flex-end
}

.flex--center {
    -ms-flex-line-pack: center;
    align-content: center
}

.flex--stretch {
    -ms-flex-line-pack: stretch;
    align-content: stretch
}

.flex--space-between {
    -ms-flex-line-pack: justify;
    align-content: space-between
}

.flex--space-around {
    -ms-flex-line-pack: distribute;
    align-content: space-around
}

.flex__item-top {
    -ms-flex-item-align: start;
    align-self: flex-start
}

.flex__item-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end
}

.flex__item-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.flex__item-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline
}

.flex__item-stretch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch
}

.flex__fill-gap {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.h100 {
	height:100%;
}
.w100 {
	width:100%;
}
.ml-auto {
    margin-left: auto!important;
}
.mr-auto {
    margin-right: auto!important;
}

[class*=" col-"],
[class^=col-] {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%
}

@media only screen and (min-width:0px) {
    .col-nano-1 {
        max-width: 8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%
    }
    .col-nano-2 {
        max-width: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%
    }
    .col-nano-3 {
        max-width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%
    }
    .col-nano-4 {
        max-width: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%
    }
    .col-nano-5 {
        max-width: 41.6666666667%;
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%
    }
    .col-nano-6 {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
    .col-nano-7 {
        max-width: 58.3333333333%;
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%
    }
    .col-nano-8 {
        max-width: 66.6666666667%;
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%
    }
    .col-nano-9 {
        max-width: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%
    }
    .col-nano-10 {
        max-width: 83.3333333333%;
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%
    }
    .col-nano-11 {
        max-width: 91.6666666667%;
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%
    }
    .col-nano-12 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
}

@media only screen and (min-width:321px) {
    .col-micro-1 {
        max-width: 8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%
    }
    .col-micro-2 {
        max-width: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%
    }
    .col-micro-3 {
        max-width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%
    }
    .col-micro-4 {
        max-width: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%
    }
    .col-micro-5 {
        max-width: 41.6666666667%;
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%
    }
    .col-micro-6 {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
    .col-micro-7 {
        max-width: 58.3333333333%;
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%
    }
    .col-micro-8 {
        max-width: 66.6666666667%;
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%
    }
    .col-micro-9 {
        max-width: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%
    }
    .col-micro-10 {
        max-width: 83.3333333333%;
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%
    }
    .col-micro-11 {
        max-width: 91.6666666667%;
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%
    }
    .col-micro-12 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
}

@media only screen and (min-width:480px) {
    .col-xs-1 {
        max-width: 8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%
    }
    .col-xs-2 {
        max-width: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%
    }
    .col-xs-3 {
        max-width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%
    }
    .col-xs-4 {
        max-width: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%
    }
    .col-xs-5 {
        max-width: 41.6666666667%;
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%
    }
    .col-xs-6 {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
    .col-xs-7 {
        max-width: 58.3333333333%;
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%
    }
    .col-xs-8 {
        max-width: 66.6666666667%;
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%
    }
    .col-xs-9 {
        max-width: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%
    }
    .col-xs-10 {
        max-width: 83.3333333333%;
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%
    }
    .col-xs-11 {
        max-width: 91.6666666667%;
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%
    }
    .col-xs-12 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
}

@media only screen and (min-width:768px) {
    .col-sm-1 {
        max-width: 8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%
    }
    .col-sm-2 {
        max-width: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%
    }
    .col-sm-3 {
        max-width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%
    }
    .col-sm-4 {
        max-width: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%
    }
    .col-sm-5 {
        max-width: 41.6666666667%;
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%
    }
    .col-sm-6 {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
    .col-sm-7 {
        max-width: 58.3333333333%;
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%
    }
    .col-sm-8 {
        max-width: 66.6666666667%;
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%
    }
    .col-sm-9 {
        max-width: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%
    }
    .col-sm-10 {
        max-width: 83.3333333333%;
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%
    }
    .col-sm-11 {
        max-width: 91.6666666667%;
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%
    }
    .col-sm-12 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
}

@media only screen and (min-width:992px) {
    .col-md-1 {
        max-width: 8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%
    }
    .col-md-2 {
        max-width: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%
    }
    .col-md-3 {
        max-width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%
    }
    .col-md-4 {
        max-width: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%
    }
    .col-md-5 {
        max-width: 41.6666666667%;
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%
    }
    .col-md-6 {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
    .col-md-7 {
        max-width: 58.3333333333%;
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%
    }
    .col-md-8 {
        max-width: 66.6666666667%;
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%
    }
    .col-md-9 {
        max-width: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%
    }
    .col-md-10 {
        max-width: 83.3333333333%;
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%
    }
    .col-md-11 {
        max-width: 91.6666666667%;
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%
    }
    .col-md-12 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
}

@media only screen and (min-width:1200px) {
    .col-lg-1 {
        max-width: 8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%
    }
    .col-lg-2 {
        max-width: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%
    }
    .col-lg-3 {
        max-width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%
    }
    .col-lg-4 {
        max-width: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%
    }
    .col-lg-5 {
        max-width: 41.6666666667%;
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%
    }
    .col-lg-6 {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
    .col-lg-7 {
        max-width: 58.3333333333%;
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%
    }
    .col-lg-8 {
        max-width: 66.6666666667%;
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%
    }
    .col-lg-9 {
        max-width: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%
    }
    .col-lg-10 {
        max-width: 83.3333333333%;
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%
    }
    .col-lg-11 {
        max-width: 91.6666666667%;
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%
    }
    .col-lg-12 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
}

@media only screen and (min-width:1440px) {
    .col-xl-1 {
        max-width: 8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%
    }
    .col-xl-2 {
        max-width: 16.6666666667%;
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%
    }
    .col-xl-3 {
        max-width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%
    }
    .col-xl-4 {
        max-width: 33.3333333333%;
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%
    }
    .col-xl-5 {
        max-width: 41.6666666667%;
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%
    }
    .col-xl-6 {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
    .col-xl-7 {
        max-width: 58.3333333333%;
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%
    }
    .col-xl-8 {
        max-width: 66.6666666667%;
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%
    }
    .col-xl-9 {
        max-width: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%
    }
    .col-xl-10 {
        max-width: 83.3333333333%;
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%
    }
    .col-xl-11 {
        max-width: 91.6666666667%;
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%
    }
    .col-xl-12 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
}

*,
:after,
:before {
    box-sizing: border-box
}

.margin0 {
    margin: 0
}

.p0,
.padding0 {
    padding: 0
}

.flex__order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

.flex__order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
}

.flex__order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3
}

.flex__order-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4
}

.flex__order-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5
}

.flex__order-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6
}

.flex__order-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7
}

.flex__order-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8
}

.flex__order-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9
}

.flex__order-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10
}


.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
display: none;
}
