/* marketplace */
/*=== Style Guid ===*/
/*Desktop*/
/*
h1 font-size:32px
h2 font-size:18px
h3 font-size:22px
h4 font-size:20px
p  font-size:17px
.lead  font-size:18px
.price font-size:24px
.product-price font-size:28px
.more font-size:16px
button font-size:18px
*/

/*Mobile*/
/*
h1 font-size:18px
h2 font-size:16px
h3 font-size:15px
h4 font-size:15px
p  font-size:15px
.lead  font-size:17px
.price font-size:16px
.product-price font-size:20px
.more font-size:14px
button font-size:14px
*/

/* global */
body {
  background-color:#fff;
}
body.marketplace {
    padding-top: 90px;
}
.v2 h2.background {
  text-align: left;
  font-weight: normal;
  position: relative;
  z-index: 1;
}
.v2 h2.background:before {
  border-top: 1px solid #cccccc;
  content:"";
  margin: 0 auto;
  position: absolute;
  top: 50%; left: 0; right: 0; bottom: 0;
  width: 100%;
  z-index: -1;
}
.v2 h2.background span {
  background: #fff; 
  padding-right:15px; 
}
.text-upper {
  text-transform:uppercase;
}
.text-lower {
  text-transform:lowercase;
}
.hidden-content {
  display:none;
}
p.fitler-txt {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 0.6);
}
.card-grid {
    margin-bottom: 10px;
}
.hidden-sm-card {
    display:none;
}
.pt0 {
  padding-top:0;
}
.pt1 {
  padding-top:10px;
}
.pt3 {
  padding-top:30px;
}
.pt5 {
  padding-top:30px;
}
.pb0 {
  padding-bottom:0;
}
.pb1 {
  padding-bottom:10px;
}
.pb2 {
  padding-bottom:20px;
}
.pb3 {
  padding-bottom:30px;
}
.pb5 {
  padding-bottom:30px;
}
.mt0 {
  margin-top:0;
}
.mt1 {
  margin-top:10px;
}
.mt2 {
  margin-top:20px;
}
.mt3 {
  margin-top:30px;
}
.mt5 {
  margin-top:50px;
}
.mb0 {
  margin-bottom:0;
}
.mb3 {
  margin-bottom:30px;
}
.mb5 {
  margin-bottom:50px;
}
.section--pad {
  padding: 0 0 15px 0;
}
.bgWhite85 {
	background-color: rgba(255,255,255,0.85);
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.clr {
  color:#50b8b7;
}
.featured-nav>ul>li:first-child>a {
    color: #55b8b8;
}

@media (min-width: 768px) {
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .section--pad {
  padding: 30px 0 50px 0;
  }
  .row--pad {
    padding: 0 0 45px 0;
  }
  .title--pad {
    padding-bottom:25px;
  }
  .card-grid {
    margin-bottom: 30px;
  }
  .hidden-sm-card {
    display:block;
  }
  .pt5 {
    padding-top:50px;
  }
  .pb5 {
    padding-bottom:50px;
  }
}

/* heading */
.v2 h1,
#template-product_page.v2 section#product_page .prod-data h1,
#template-brand_page.v2 section#brand_page_title h1,
#template-search_results.v2 section#section--results h1,
#template-view_more.v2 section#section--results h1,
#template-search_results.v2 section#section--results h1,
#template-view_more.v2 section#section--results h1 {
  font-size: 18px !important;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: #2a414d;
}
.v2 h2 {
  font-size: 16px !important;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: 1px;
  color: #2a414d;
}
#template-product_page.v2 section#product_page .prod-data h3,
#template-brand_page.v2 section#brand_page_title h3,
#template-brand_page.v2 section#brand_page_hero h3 {
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1.3px;
  color: #2a414d;
}
#template-search_results section#section--results h4 {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1.1px;
}

@media (min-width: 768px) {
  .v2 h1,
  #template-product_page.v2 section#product_page .prod-data h1,#template-brand_page.v2 section#brand_page_title h1,
	#template-search_results.v2 section#section--results h1,
	#template-view_more.v2 section#section--results h1,
	#template-search_results.v2 section#section--results h1,
	#template-view_more.v2 section#section--results h1 {
    font-size: 32px !important;
  }
  .v2 h2 {
  	font-size: 18px !important;
    text-align: center;
  }
  #template-product_page.v2 section#product_page .prod-data h3,
  #template-brand_page.v2 section#brand_page_title h3,
  #template-brand_page.v2 section#brand_page_hero h3{
  	font-size: 22px;
  }
  #template-search_results section#section--results h4 {
    font-size: 20px;
  }
} 

/* Sub Nav */
@media (min-width: 992px) {
  #mgl-primary-collapsed ul li:first-child,
  #mgl-primary-collapsed ul li:nth-child(2),
  #mgl-primary-collapsed ul li:nth-child(3){
    display:none;
  }
}
.collapsed-nav {
  top: 75px;
}

/* footer */
footer#footer h3 {
  color: white;
}
footer#footer .links a {
  font-size: 15px;
}
.newsletter-form .form-row--btn-right-inside {
	border: 1px solid #f5f6f6 !important;
	background-color: #f5f6f6 !important;
}
.newsletter-form .form-control {
	background-color: #f5f6f6 !important;
}
.newsletter-form .btn {
	border:none !important;
}
.newsletter-form input::-webkit-input-placeholder {color:#2a414d; /* Webkit Browsers */}
.newsletter-form input:-moz-placeholder {color:#2a414d; /* Firefox 18- */}
.newsletter-form input::-moz-placeholder {color:#2a414d; /* Firefox 19+ */}
.newsletter-form input:-ms-input-placeholder {color:#2a414d; /* IE10 */}

/* masonery */
.h-100 {
  height:100%;
}
.masonry-item .thumbnail {
  border-radius: 4px;
  border: solid 2px #edeaea;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color:#fff;
}
.masonry-item .thumbnail:hover,
.masonry-item .thumbnail:focus {
  background-color: rgba(216, 216, 216, 0.2);
}
.masonry-item .thumbnail img {
  width:100%;
}
.masonry-item .caption {
  text-align:center;
  padding:20px;
}
.masonry-item .caption p {
  margin-bottom:0;
}
.masonry-item .caption h3 {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #2a414d;
}
.masonry-item .caption p.brand {
  font-size: 18px;
  letter-spacing: 1px;
  color: #4495ca;
}
.masonry-item .caption p.price {
  font-size: 24px;
  letter-spacing: 1.3px;
  color: #8a8c97;
}
.hidden-item {
  display:none;
}

@media (max-width: 768px) {
  .masonry-item .caption h3 {
    font-size: 15px;
  }
  .masonry-item .caption p.brand {
    font-size: 17px;
  }
  .masonry-item .caption p.price {
    font-size: 16px;
  }
}

/* brand_directory page */
#template-brand_directory.v2 {
  padding-top: 0;
  padding-bottom: 0;
}
#section--hero {
  box-shadow: 0 2px 40px 0 rgba(73, 73, 120, 0.1);
}
#carousel-hero .item {
  height:420px;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center bottom;
}
#carousel-hero h1 {
  margin-top: 0;
  margin-bottom: 14px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}
#carousel-hero h4 {
  margin-top: 0;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-weight: 300;
   letter-spacing: 1.1px;
}
#carousel-hero p {
  font-size: 22px;
  line-height: 1.25;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 20px;
}
#carousel-hero .color-dark h1 {
  color: #2a414d;
}
#carousel-hero .color-dark h4,
#carousel-hero .color-dark p {
  color: #494949;
}
#carousel-hero .color-white h1,
#carousel-hero .color-white h4,
#carousel-hero .color-white p {
  color: #ffffff;
}
.v2 #carousel-hero .color-dark .btn.btn-default.btn-cta {
  background-color: #2a414d;
  border: solid 1px #2a414d;
  color: #fff;
  opacity:1;
}
.v2 #carousel-hero .color-dark .btn.btn-default.btn-cta:hover,
.v2 #carousel-hero .color-dark .btn.btn-default.btn-cta:focus {
  opacity:0.8;
}
.v2 #carousel-hero .color-white .btn.btn-default.btn-cta {
  background-color: #fff;
  border: solid 1px #fff;
  color: #2a414d;
  opacity:1;
}
.v2 #carousel-hero .color-white .btn.btn-default.btn-cta:hover,
.v2 #carousel-hero .color-white .btn.btn-default.btn-cta:focus {
  opacity:0.8;
}
.v2 #carousel-hero h1 {
  font-size:24px !important;
}
#carousel-hero .brand-info {
  margin:2em 1em;
  padding:1.5em;
}
#carousel-hero .brand-info.color-dark {
  background-color: rgba(255, 255, 255, 0.6);
}
#carousel-hero .brand-info.color-white {
  background-color: rgba(0, 0, 0, 0.4);
}
#carousel-hero {
  margin-top: -18px;
}
#section--hero .message {
  background-color: #50b8b7;
  padding:15px 0;
}
#section--hero .message p {
  margin:0;
  letter-spacing: 1px;
  font-weight: 500;
}

#carousel-hero .carousel-indicators {
  bottom: 0;
  left: 0;
  right: 0;
}
#carousel-hero .carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.12);
  margin: 1px 5px;
  width: 5px;
  height: 5px;
}
#carousel-hero .carousel-indicators li.active {
  background-color: #3b3d50;
  border-color:#3b3d50;
  width: 5px;
  height: 5px;
}
.card-grid .card {
  border-radius: 1px;
  border: solid 2px #f6f6f6;
  padding:4px 16px 10px 16px;
}
.card-grid .card h3,
.card-grid .cardThumb h3 {
  font-size: 15px;
  font-weight: 500;
  color: #2a414d;
  margin-bottom:24px;
}
.card-grid .card h3 a,
.card-grid .cardThumb h3 a {
  color: #2a414d;
	text-decoration:none;
}
.card-grid .card h3 a:hover,
.card-grid .card h3 a:focus,
.card-grid .cardThumb h3 a:hover,
.card-grid .cardThumb h3 a:focus{
  color: #55b7b8;
	text-decoration:none;
}
.card-grid .cardThumb {
  overflow:hidden;
}
.card-grid .cardThumb img {
  width:100%;
  border-radius: 3px;
}
.card-grid .card p {
	text-decoration: none !important;
    color: #777 !important;
}
.card-grid .cardThumb.flex-column {
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}
.card-grid .cardThumb.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
.card-grid .cardThumb .cat-thumb {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  border-radius: 3px;
}
.card-grid .cardThumb .cat-thumb {
  height: 100%;
  width:100%;
}
.card-grid .cardThumb:hover .cat-thumb > .mask {
  opacity:0.3;
}
/* carousel fade */
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@media (min-width: 1200px) {
  .card-grid .cardThumb .cat-thumb {
    height: 137px;
    width:auto;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .card-grid .cardThumb .cat-thumb {
    height: 237px;
    width:auto;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .card-grid .cardThumb .cat-thumb {
    height: 190px;
    width:auto;
  }
}

/* search bar */
#section--search-bar .search-wrapper {
  padding:10px;
  border-radius: 2px;
  background-color: #50b8b7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  position: relative;
}
#section--search-bar .search-wrapper input {
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: solid 2px rgba(0, 0, 0, 0.12);
  height:40px;
  background-color: #ffffff;
  padding: 6px 8px;
  border-left:none;
  color: #818b9c;
}
#section--search-bar .search-wrapper input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #818b9c;
}
#section--search-bar .search-wrapper input::-moz-placeholder { /* Firefox 19+ */
  color: #818b9c;
}
#section--search-bar .search-wrapper input:-ms-input-placeholder { /* IE 10+ */
  color: #818b9c;
}
#section--search-bar .search-wrapper input:-moz-placeholder { /* Firefox 18- */
  color: #818b9c;
}
#section--search-bar .search-wrapper .input-group-addon {
  padding: 6px;
  background-color: #ffffff;
  border: solid 2px rgba(0, 0, 0, 0.12);
  border-right:none;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#section--search-bar .search-wrapper .input-group-addon img {
  width:16px;
}
#section--search-bar .search-wrapper .form-control:focus {
  box-shadow: none;
}
.btn.btn-default.btn-submit {
  border-radius: 3px;
  background-image:none;
  background-color: #f6f7f9;
  border: solid 2px rgba(151, 151, 151, 0.15);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 10px;
  color: #55b8b8;
  width: 100%;
  opacity:1;
}
.btn.btn-default.btn-submit:hover,
.btn.btn-default.btn-submit:focus,
.btn.btn-default.btn-submit:active {
  color: #55b8b8;
  background-color: #f6f7f9;
  opacity:0.9;
}

/* product filter */
#filter-product .form-control {
  border: none;
  border-radius: 2px;
  background-color: rgba(216, 216, 216, 0.2);
}
#filter-product select.form-control {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #2a414d;
  height: 50px;
  width:100%;
  -webkit-appearance: button;
    -moz-appearance: button;
    -ms-appearance: button;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    background-image: url('/wp-content/uploads/2018/07/icon-sort-down.svg');
    background-position: right center;
    background-repeat: no-repeat;
}
#filter-product .custom-select {
  position: relative;
}
#filter-product .custom-select select {
  display: none; /*hide original SELECT element:*/
}
#filter-product .select-selected {
  background-color: rgba(216, 216, 216, 0.2);
}
#filter-product .select-selected:after {
  position: absolute;
  content: "";
  top: 23px;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #2a414d transparent transparent transparent;
}
#filter-product .select-selected.select-arrow-active:after {
  border-color: transparent transparent #2a414d transparent;
  top: 17px;
}
#filter-product .select-items div,
#filter-product .select-selected {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.7px;
  color: #2a414d;
  height: 50px;
  padding: 15px;
  cursor: pointer;
}
#filter-product .select-selected {
  text-transform: uppercase;
}
#filter-product .select-items {
  position: absolute;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  border: solid 1px #c7d0e0;
  top: 120%;
  left: 0;
  right: 0;
  z-index: 99;
  color: #2a414d;
}
#filter-product .select-hide {
  display: none;
}
#filter-product .select-items div:hover, .same-as-selected {
  color: #55b8b8;
}
#filter-product .cat-filter a {
  font-size: 16px;
  font-weight: normal;
  line-height: 2.23;
  letter-spacing: 1.2px;
  color: #898b96;
  border-bottom: solid 3px #fff;
  margin-left:2%;
  margin-right:2%;
}
#filter-product .cat-filter.active a{
  color:#50b8b7;
  font-weight: bold;
  border-bottom: solid 3px #50b8b7;
}
#filter-product .cat-filter a:hover,
#filter-product .cat-filter a:focus {
  color:#50b8b7;
  border-bottom: solid 3px #50b8b7;
  text-decoration: none;
}
#product-side-filter {
  background-color: rgba(216, 216, 216, 0.2);
}
#product-side-filter .list-group:last-child {
    padding-bottom: 20px;
}
#product-side-filter ul.list-group li.list-group-item {
  padding:0;
  margin-bottom:0;
  background-color: transparent;
  border: none;
}
#product-side-filter ul.list-group li.list-group-item.list-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 2.05;
  letter-spacing: 1.2px;
  color: #2a414d;
  padding: 15px;
  padding-left: 50px;
  text-transform: uppercase;
}
#product-side-filter ul.list-group li.list-group-item.list-title:before {
    position: absolute;
    content: "";
    top: 26px;
    left:17px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: transparent transparent transparent #2a414d;
}
#product-side-filter ul.list-group li.list-group-item a {
  font-size: 20px;
  font-weight: normal;
  line-height: 2.31;
  letter-spacing: 1.4px;
  color: #3b3d50;
  padding-right: 15px;
  padding-left: 50px;
}
#product-side-filter ul.list-group li.list-group-item.active a {
  font-weight: 500;
  color: #50b8b7;
}
#product-side-filter ul.list-group li.list-group-item a:hover {
  text-decoration: none;
  color: #50b8b7;
}


/* Product Page && Brand Page && Search Results */
#template-product_page.v2,
#template-brand_page.v2,
#template-search_results.v2,
#template-view_more.v2 {
  margin-bottom:-75px;
}
#template-product_page.v2 section#product_page {
  background-color: #fff;
  padding-bottom: 0;
}
#template-product_page.v2 section#product_page .prod-gallery .full {
  box-shadow: none;
  margin: 0 0 20px 0;
}
#template-product_page.v2 section#product_page .prod-gallery .full img {
  margin:0 auto;
}
#template-product_page.v2 section#product_page .prod-gallery .previews a {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
#template-product_page.v2 section#product_page .prod-gallery, 
#template-product_page.v2 section#product_page .prod-data {
  padding-top: 45px;
}
#template-product_page.v2 section#product_page .prod-data .prod-gallery {
  padding-top: 0;
}
#template-product_page.v2 section#product_page .prod-data p,
#template-product_page.v2 section#product_page .prod-data li,
#template-brand_page.v2 section#brand_page .brand-data p,
#template-brand_page.v2 section#brand_page .brand-data li {
  font-size:15px;
  margin-bottom: 10px;
}
#template-product_page.v2 section#product_page .prod-data p.prod-price {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: normal;
  color: #50b8b7;
}
#template-product_page.v2 .prod--description ul {
  list-style: none;
  padding-left:0;
}
#template-product_page.v2 .prod--description ul li {
  background:url('/wp-content/uploads/2018/07/prod-description-list.png') no-repeat left 7px;
  padding-left:20px;
  padding-bottom: 10px;
}
#template-brand_page.v2 section#brand_page_hero {
  height:180px;
  background-size: cover;
  background-position: center center;
}
#template-product_page.v2 section#product_page .prod-data h3,
#template-product_page.v2 section#product_page .prod-data h3 a{
  color: #50b8b7;
	opacity:1;
}
#template-product_page.v2 section#product_page .prod-data h3 a:hover,
#template-product_page.v2 section#product_page .prod-data h3 a:focus {
  opacity:0.6;
	text-decoration:none;
}
#template-brand_page.v2 section#brand_page_title h1 {
  color: #50b8b7;
}
#template-brand_page.v2 section#brand_page_title .lead p {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.88;
  letter-spacing: 1.3px;
  color: rgba(59, 61, 80, 0.6);
}
#template-brand_page.v2 section#brand_page .brand-media {
  margin-bottom:30px;
}
#template-brand_page.v2 section#brand_page .brand-media img,
#template-brand_page.v2 section#brand_page .brand-media iframe {
  width:100%;
}
#template-brand_page.v2 section#brand_page_quote .border {
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
}
#template-brand_page.v2 section#brand_page_quote .quoteText p {
   font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 1.3px;
  color: #2a414d;
  margin-bottom:0;
}
#template-brand_page.v2 .prod--description {
  position: relative;
  overflow: hidden;
}
#template-brand_page.v2 .prod--description .more-link {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 8px 0;
  background-color:#fff;
  box-shadow: 0 0 10px #fff;
}
#template-brand_page.v2 .brand-coming-soon img {
  margin-bottom: 70px;
}
#template-brand_page.v2 .brand-coming-soon p {
  margin-bottom:30px;
  font-size:26px;
  color: #2a414d;
}
#template-brand_page.v2 .brand-coming-soon p .btn {
  margin: 25px;
}

#template-search_results section#section--results h4 {
  color: rgba(59, 61, 80, 0.6);
}

/* Category list */
#section--filter .card {
  position:relative;
  height:80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 10px 20px 0 rgba(226, 191, 185, 0.5);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}
#section--filter .card p {
  font-size: 22px;
  color:#fff;
  margin: 0;
  z-index:100;
}
#section--filter .carousel .carousel-control {
    background-image: none;
    width: 15px;
    font-size: 50px;
    color: #55b8b8;
    text-shadow: none;
    opacity: 1;
}
#section--filter .carousel .carousel-control:hover,
#section--filter .carousel .carousel-control:focus {
  opacity: 0.6;
}
#section--filter .carousel .carousel-control.left {
  left: -3%;
}
#section--filter .carousel .carousel-control.right {
  right: -3%;
}
#section--filter #filter-product p,
#section--filter .category-list p,
#section--filter .category-list .list-group {
  margin-bottom:0;
}
#section--filter .category-list .list-group-item {
  border:none;
  border-radius: 4px;
  padding: 0;
  margin-left: 15px;
}
#section--filter .category-list .list-group-item .caret {
  border: 6px solid transparent;
  border-color: #2a414d transparent transparent transparent;
  top: 23px;
  right: 20px;
  position:absolute;
}
#section--filter .category-list .list-group-item.open .caret {
  border-color: transparent transparent #2a414d transparent;
  top: 17px;
}
#section--filter .category-list .list-group-item a.list-title {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.7px;
  color: #2a414d;
  text-transform: uppercase;
  position:relative;
  
  background-color: rgba(216, 216, 216, 0.2);
  height: 50px;
  padding: 15px;
  cursor: pointer;
}
#section--filter .category-list .list-group-item.list-prod {
  width:290px;
}
#section--filter .category-list .list-group-item .dropdown-menu {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  border: solid 1px #c7d0e0;
  color: #2a414d;
  width: 100%;
  min-width: 135px;
}
#section--filter .category-list .list-group-item .dropdown-menu a {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.7px;
  color: #2a414d;
  height: 50px;
  padding: 15px;
  cursor: pointer;
  background-color: #ffffff;
}
#section--filter .category-list .list-group-item .dropdown-menu a:hover,
#section--filter .category-list .list-group-item .dropdown-menu a:focus {
  color: #55b8b8;
  background-color: #ffffff;
  cursor: pointer;
}
#section--filter #filter-product p {
  display: inline-block;
  margin-left: 15px;
}
#section--filter #filter-product .custom-select {
  width: 200px;
  margin-left: 15px;
}

/* Brand Submit Page */
#template-brand_submit #brand_price .pricing .well {
  background-color: #fff;
  height: auto;
  padding:58px 20px;
  margin-bottom: 0;
}
#template-brand_submit #brand_price .pricing .well h2{
  color: #50b8b7;
}
#template-brand_submit #brand_price .pricing .well p {
  font-size: 18px;
}
#template-brand_submit #brand_price .pricing .well p.number {
  font-size: 84px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 4.5px;
  color: #bbbbbb;
}
#template-brand_submit #brand_price .pricing .well p.plus {
  font-size: 84px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 4.5px;
  color: #2a414d;

}

/* button */
.v2 .btn.btn-default.btn-cta {
  border-radius: 3px;
  background-color: rgba(236, 239, 243, 0.5);
  /*border: solid 1px rgba(151, 151, 151, 0.15);*/
  border:none;
  font-size: 14px;
  padding: 8px 16px;
  font-weight: 500;
  transition: .2s ease-in-out;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
}
.v2 .btn.btn-default.btn-cta:focus, 
.v2 .btn.btn-default.btn-cta:hover {
    background-color: #55b8b8;
    border-color: rgba(151, 151, 151, 0.15);
    color: #fff;
}
.btn-view-more,
.btn-read-more {
  font-size: 14px;
  font-weight:500;
  line-height: 2;
  letter-spacing: 0.7px;
  color: #4495ca;
  display: block;
}
.btn-read-more {
  text-align: center;
}
.btn.btn-category {
  border-radius: 3px;
  background-color: #50b8b7;
  color:#fff;
  font-size: 14px;
  padding:5px 10px;
  letter-spacing: 1.5px;
  line-height:1;
  opacity:1;
  margin-bottom:10px;
}
.btn.btn-category:hover,
.btn.btn-category:focus {
  opacity:0.6;
}
.btn.btn-category.btn-accessories,
.btn.btn-category.btn-Accessories {background-color: rgba(157,100,125,.7);}
.btn.btn-category.btn-beauty,
.btn.btn-category.btn-Beauty {background-color: hsla(7,52%,81%,.8);}
.btn.btn-category.btn-clothing,
.btn.btn-category.btn-Clothing {background-color: rgba(233,158,74,.8);}
.btn.btn-category.btn-electronics,
.btn.btn-category.btn-Electronics {background-color: rgba(194,94,51,.7);}
.btn.btn-category.btn-foods,
.btn.btn-category.btn-Foods {background-color: rgba(130,90,170,.8);}
.btn.btn-category.btn-gift,
.btn.btn-category.btn-Gift {background-color: rgba(79,198,150,.7);}
.btn.btn-category.btn-health,
.btn.btn-category.btn-Health {background-color: rgba(199,45,26,.7);}
.btn.btn-category.btn-home,
.btn.btn-category.btn-Home {background-color: rgba(158,131,83,.8);}
.btn.btn-category.btn-kids,
.btn.btn-category.btn-Kids {background-color: rgba(126,180,199,.8);}
.btn.btn-category.btn-jewelry,
.btn.btn-category.btn-Jewelry {background-color: rgba(193,107,56,.7);}
.btn.btn-category.btn-pets,
.btn.btn-category.btn-Pets {background-color: rgba(95,66,55,.7);}
.btn.btn-category.btn-shoes,
.btn.btn-category.btn-Shoes {background-color: rgba(27,69,115,.8);}

.btn.btn-action {
  border-radius: 4px;
  background-color: rgba(236, 239, 243, 0.5);
  font-size: 20px;
  font-weight: normal;
  color: #50b8b7;
  opacity:1;
  margin: 0 5px 5px 5px;
}
.btn.btn-action:hover, 
.btn.btn-action:focus {
  opacity:0.6;
}
.btn.btn-action.btn-buy {
  background:url('/wp-content/uploads/2018/07/btn-buy.svg') no-repeat 20px 9px;
  background-color: rgba(236, 239, 243, 0.5);
  color: #50b8b7;
  padding-left: 60px;
    padding-right: 20px;
	display: inline-block; 
	margin-top: -35px;
}
.btn.btn-action.btn-share {
  background:url('/wp-content/uploads/2018/07/btn-share.svg') no-repeat 20px 9px;
  background-color: rgba(236, 239, 243, 0.5);
  color: #6a75c9;
  padding-left: 60px;
    padding-right: 20px;
}
.btn.btn-action.btn-like {
  background:url('/wp-content/uploads/2018/07/btn-like.svg') no-repeat 20px 9px;
  background-color: rgba(236, 239, 243, 0.5);
  color: #e6254a;
  padding-left: 60px;
  padding-right: 2px;
  text-indent: -9999px;
}

#template-product_page.v2 section#product_page .prod--action .prod--share {
	display:inline-block;
}

.btn.btn-tags {
  color: #2a414d;
  font-size: 14px;
  font-weight: 500;
  border-radius: 28px;
  background-color: #f6f7f9;
  padding:8px 16px;
  margin: 10px 5px;
}
.btn.btn-tags:hover,
.btn.btn-tags:focus {
  color: #50b8b7;
}
.btn.btn-tags:first-child {
  margin-left:0;
}
.btn.btn-tags:last-child {
  margin-right:0;
}

/* badge */
.badge.catIcon{
	border: 1px solid #83cbb4; 
	border-radius: 4px; 
	margin-left: 5px; 
	background: none; 
	vertical-align: top; 
	padding: 3px;
	width: 26px;
	height: 26px;
}

@media (max-width: 992px) {
  #template-product_page.v2 section#product_page .prod-gallery, 
  #template-product_page.v2 section#product_page .prod-data {
    padding-top: 10px;
  }
  #template-product_page.v2 section#product_page .prod-data .mFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
  }
  #template-product_page.v2 section#product_page .prod-data .prod--info h1 {
    width:60%;
  }
  #template-product_page.v2 section#product_page .prod-data .prod--info p.prod-price {
    width:40%;
    text-align:right;
  }
}

@media (min-width: 768px) {
  .v2 h2.background {
    font-size: 20px !important;
  }
  .v2 .btn.btn-default.btn-cta {
    font-size: 18px;
    padding: 14px 30px;
  }
  .btn-view-more,
  .btn-view-less{
    font-size: 16px;
  }
  .btn-read-more {
   font-size: 16px;
    text-align:left;
  }
  .btn.btn-category {
    font-size: 18px;
  }
  #carousel-hero {
    margin-top: 0;
  }
  #carousel-hero .item {
    height:522px;
  }
  #carousel-hero .brand-info {
    margin:60px 0 0 0;
    padding:0;
  }
  #carousel-hero .brand-info.color-dark,
  #carousel-hero .brand-info.color-white {
    background-color:transparent;
  }
  #carousel-hero h1 {
  margin-bottom: 14px;
  }
  #carousel-hero h4 {
    margin-bottom: 24px;
  }
  #carousel-hero p {
    margin-bottom: 35px;
  }
  #carousel-hero .carousel-indicators {
    bottom: 60px;
    text-align: right;
  }
  #carousel-hero .carousel-indicators li {
    margin: 1px 10px;
    width: 10px;
    height: 10px;
  }
  #carousel-hero .carousel-indicators li.active {
    width: 10px;
    height: 10px;
  }
  #section--search-bar.offSet {
    margin-top: -52px;
  }
  #section--search-bar .search-wrapper {
    padding:28px;
  }
  #section--search-bar .search-wrapper input {
    height:60px;
    font-size: 18px;
  }
  #section--search-bar .search-wrapper .input-group-addon {
    padding: 6px 12px;
  }
  #section--search-bar .search-wrapper .input-group-addon img {
    width: 20px;
  }
  .btn.btn-default.btn-submit  {
    font-size: 20px;
    padding: 14px 18px;
  }
  .row.card_rowSpaceL {
    margin-right: -20px;
    margin-left: -20px
  }
  .row.card_rowSpaceL .card-grid {
    padding-right:20px;
    padding-left:20px;
  }
  .card-grid .card h3,
  .card-grid .cardThumb h3 {
    font-size: 22px;
  }
  #template-product_page.v2 section#product_page .prod-data p.prod-price {
    font-size: 28px;
  }
  #template-product_page.v2 section#product_page .prod-data p,
  #template-product_page.v2 section#product_page .prod-data li,
  #template-brand_page.v2 section#brand_page .brand-data p,
  #template-brand_page.v2 section#brand_page .brand-data li {
    font-size:17px;
  }
  #template-brand_page.v2 section#brand_page_hero {
    height:250px;
  }
  #template-brand_page.v2 section#brand_page_title .lead p {
    font-size: 18px;
  }
  #template-brand_page.v2 section#brand_page .brand-media {
    margin-bottom:0;
  }
  #template-brand_page.v2 section#brand_page_quote .quoteText p {
   font-size: 24px;
  }
  #filter-product .cat-filter a {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  #template-product_page.v2 section#product_page .prod-data,
  #template-brand_page.v2 section#brand_page .brand-data {
    padding-left: 60px;
  }
}

@media (max-width: 768px) {
  .navbar-fixed-top,
  #nBar.notice {
    position: absolute;
    margin-bottom: 0;
  }
}

/* override main.css for pages */
#template-about section.page-splash {
	background-image:none;
}
#videoModal .modal-dialog {
    width: 60% !important;
	margin:10% auto 0 auto !important;
}
#videoModal .modal-content {
	background-color:transparent !important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
	border:none !important;
}
#videoModal .close {
	font-size: 40px;
	color:#fff;
	opacity:1;
	position: absolute;
    right: -30px;
}

.widgetBox .theChampEmailBackground:hover,
.widgetBox .theChampEmailBackground:focus {
	opacity:0.6;
}

/* Notification Bar */
.notice {
    background: linear-gradient(90deg,#55b8b8,#89d0bb);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 9999;
}
.notice.visible {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.notice p {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
	text-align:center;
}
.notice .btn {
    display: inline-block;
    overflow: hidden;
    margin:10px 0;
    padding: 13px 30px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg,#55b8b8,#89d0bb);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    outline: 0;
    transition: .2s ease-in-out;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
}
.notice .btn.btn--white {
    background: #fff;
    color: #55b8b8;
}
.notice .btn.btn--white:hover,
.notice .btn.btn--white:focus{
    background: rgba(255,255,255,0.8);
    color: #333;
}
.notice .notice__close {
    display: block;
	position: absolute;
    right: 10px;
	top: 10px;
    margin: auto;
    background: none;
    line-height: 1;
    color: #fff;
    padding: 0;
    border: none;
    cursor: pointer;
	opacity:1;
}
.notice .notice__close:hover,
.notice .notice__close:focus {
	opacity:0.8;
}
@media (min-width: 768px) {
	.notice p {
		margin-top: 24px;
		margin-bottom: 24px;
		font-size: 18px;
		text-align:left;
	}
	.notice .notice__close {
    	right: 30px;
	}
}

/* About page */
#template-about section#about img.logo {
  margin: 20px 15px 20px 0;
}

/* Submit Brand */
#template-brand_submit #brand_price .companyLogo img {
    width: 155px;
    height: auto;
    margin: 20px 10px 0 10px;
}
#template-brand_submit .checkout-submit button {
  background-image: linear-gradient(270deg,#55b8b8,#83cbb4);
    color: #fff;
    padding: 15px 40px;
    border-radius: 7px;
    font-size: 28px;
    text-decoration: none;
    font-weight: 700;
    border: none;
    opacity:1;
}
#template-brand_submit .checkout-submit button:hover,
#template-brand_submit .checkout-submit button:focus {
    opacity:0.8;
}
#template-brand_submit #other-reason {
  display:none;
}
#template-brand_submit .checkout-section select.form-control {
  color:#555;
  -webkit-appearance: button;
         -moz-appearance: button;
          appearance: button;
  outline: none;
  background-image: url(/wp-content/uploads/2018/07/icon-sort-down.svg);
    background-position: right center;
    background-repeat: no-repeat;
}

/* Contact */
#template-contact #contact-form div[role=form] {
  margin-top:50px;
}
#template-contact #contact-form .form-control,
#template-contact #contact-form input[type=text],
#template-contact #contact-form input[type=email] {
    border: 1px solid #b7c2c7;
    background: #fcfcfc;
    height: 50px;
    padding: 0 20px;
    border-radius: 7px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
}
#template-contact #contact-form textarea.form-control {
    padding: 12px 20px;
    min-height: 150px;
    max-width: 100%;
}
#template-contact #contact-form select.form-control {
  color:#555;
  -webkit-appearance: button;
         -moz-appearance: button;
          appearance: button;
  outline: none;
  background-image: url(/wp-content/uploads/2018/07/icon-sort-down.svg);
    background-position: right center;
    background-repeat: no-repeat;
}
#template-contact #contact-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#b7c2c7;
}
#template-contact #contact-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color:#b7c2c7;
}
#template-contact #contact-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color:#b7c2c7;
}
#template-contact #contact-form .form-control:-moz-placeholder { /* Firefox 18- */
  color:#b7c2c7;
}
#template-contact #contact-form .btn-green {
  background-image: linear-gradient(270deg,#55b8b8,#83cbb4);
    color: #fff;
    padding: 15px 40px;
    border-radius: 7px;
    font-size: 28px;
    text-decoration: none;
    font-weight: 700;
    border: none;
    opacity: 1;
}
#template-contact #contact-form .btn-green:hover,
#template-contact #contact-form .btn-green:focus {
  opacity:0.8;
}
#template-contact #contact-form label {
  font-weight: 400;
}
