/*----------------------------------*\
    Button
\*----------------------------------*/
/* Default Button */
.btn {
	display: inline-block;
	overflow: hidden;
	margin: 0;
	padding: 0 30px;
	height: 40px;
	// border: 2px solid transparent;
  border: none;
	border-radius: 50px;
	background: linear-gradient(to right, $color-green, $color-green-lighter);
	color: $color-white;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: inherit;
	text-overflow: ellipsis;
	white-space: nowrap;
	letter-spacing: inherit;
	font-size: inherit;
	font-weight: $bold;
	line-height: 36px;
	outline: 0;
	@include transition(.2s ease-in-out);
	cursor: pointer;
	-webkit-font-smoothing: inherit;
	
	/* Hover and Focus state */
	&:hover, &:focus {
		opacity: 0.8;
	}
	
	/* Active state */
	&:active {
		box-shadow: 0 1px 3px 1px rgba($color-black, .24);
	}
}

.btn--outline {
	background: transparent;
	border-color: $color-white;
	
	&:hover, &:focus {
		background: $color-white;
		color: $color-green;
	}
}

.btn--white {
	background: $color-white;
	color: $color-green;
}

.btn--wide {
	padding: 0 50px;
}

.btn--large {
	height: 60px;
	line-height: 56px;
}

/* Simple Button */
.btn-simple {
	font-family: inherit;
	text-decoration: none;
	text-transform: uppercase;
	color: $color-green;
	font-size: 13px;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	font-weight: $medium;
	
	&:hover, &:focus {
		color: lighten($color-green, 5%);
	}
}

.btn-play {
	text-decoration: none;
	@include transition(.2s ease-in-out);
	
	&:hover, &:focus {
		opacity: 0.85;
	}
}
