.notice {
	background: linear-gradient(to right, $color-green, $color-green-lighter);
	height: $notice-height;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
  z-index: 9999;
  min-height: 90px;

  .text-right {
    margin-right: 40px;
  }

	@media #{$small-and-down} {
		height: auto;
		padding: 10px;
		text-align: center;

		.text-right {
			text-align: center;
      margin-right: 0;
		}
	}

  .btn {
    line-height: 3;
  }

	p {
		color: $color-white;

		&:last-of-type {
			margin-bottom: 0;

			@media #{$small-and-down} {
				margin-bottom: 10px;
			}
		}

		@media #{$small-and-down} {
			font-size: 16px;
		}
	}

	&.visible {
		display: flex;
	}

	.row {
    flex-flow: row;
		@media #{$small-and-down} {
			flex-direction: column;
		}
	}
}

.notice__close {
	display: block;
	position: absolute;
	right: 30px;
	top: -50%;
	bottom: -50%;
	margin: auto;
	background: none;
	font-size: 24px;
	width: 24px;
	height: 24px;
	color: $color-white;
	padding: 0;
	border: none;
	cursor: pointer;

	&:hover, &:focus {
		opacity: 0.85;
	}

	&:before {
		vertical-align: top;
		margin: 0;
		padding: 0;
	}

	@media #{$small-and-down} {
		top: 5px;
		bottom: auto;
		right: 5px;
	}
}
