.testimonials-carousel {
	padding-top: 30px;
	background: url("../images/pl-icon-quote.svg") no-repeat center top
}

.testimonials-carousel__item {
	font-size: $h4;
	font-weight: $book;
	
	span {
		font-size: $h5;
		display: inline-block;
		margin-top: 50px;
	}
}

.testimonials-carousel .owl-dots {
	display: flex;
	justify-content: center;
	
	.owl-dot {
		width: 8px;
		height: 8px;
		background: $color-gray-light;
		border-radius: 50%;
		margin-right: 30px;
		margin-top: 130px;
		cursor: pointer;
		
		&:last-of-type {
			margin-right: 0;
		}
		
		&.active, &:hover {
			background: $color-green;
		}
		
		@media #{$small-and-down} {
			margin-top: 70px;
		}
	}
}