body.checkout {
	background: $color-white;
	font-size: 16px;
	color: $color-gray-dark;
}

/*
	Checkout Section
*/
/* Main Section */
.checkout-section {
	padding: 70px 0;
	border-bottom: 1px solid $color-gray-light;
	
	&:last-of-type {
		border: none;
	}
	
	label {
		font-weight: $normal;
	}
	
	.form-control {
		border: 1px solid $color-gray;
		background: $color-gray-lighter;
		height: 50px;
		padding: 0 20px;
		border-radius: 7px;
		box-shadow: 0 1px 0 0 rgba($color-black, 0.05);
		
		&::-webkit-input-placeholder {
			color: $color-gray;
		}
		
		&::-moz-placeholder {
			color: $color-gray;
		}
		
		&:-ms-input-placeholder {
			color: $color-gray;
		}
		
		&:-moz-placeholder {
			color: $color-gray;
		}
		
		&.has-error {
			border-color: $color-red;
		}
		
		&.has-success {
			border-color: $color-green;
		}
	}
	
	.required label:after {
		content: '';
		height: 5px;
		display: inline-block;
		width: 5px;
		vertical-align: middle;
		margin-left: 6px;
		border-radius: 50%;
		background: $color-red;
	}
	
	textarea.form-control {
		padding: 12px 20px;
		min-height: 150px;
		max-width: 100%;
	}
	
	&--payment {
		.checkout-section__header {
			margin-bottom: 70px;
		}
	}
}

/* Header */
.checkout-section__header {
	display: inline-block;
	margin-bottom: 30px;
	padding: 10px 20px 6px 20px;
	border: 2px solid $color-green;
	border-radius: 7px;
	color: $color-green;
	
	&--w-subtitle {
		padding: 14px 20px 10px 20px;
	}
	
	h2 {
		font-size: inherit;
		font-weight: $medium;
		color: inherit;
		margin: 0;
	}
	
	p {
		color: inherit;
		margin: 3px 0 0 0;
		font-size: 15px;
	}
	
	strong {
		text-transform: uppercase;
		font-weight: $black;
	}
}

/*
	Checkout Pricing Step
*/
/* Item */
.checkout-pricing-item {
	input {
		display: none;
	}
	
	label {
		display: flex;
		margin: 0;
		padding: 0 30px;
		width: 100%;
		height: 52px;
		border: 1px solid $color-gray;
		border-radius: 7px;
		font-weight: $normal;
		line-height: 50px;
		align-items: center;
		justify-content: center;
		color: $color-gray-light02;
		cursor: pointer;
		
		&:hover {
			border-color: $color-green;
		}
		
		&:before {
			display: inline-block;
			margin-right: 15px;
			width: 26px;
			height: 26px;
			border: 2px solid $color-gray;
			border-radius: 50%;
			content: '';
		}
		
		strong {
			margin-right: 3px;
			color: $color-gray-dark;
		}
	}
	
	input:checked + label {
		border-color: $color-green;
		background: $color-green;
		color: $color-white;
		
		&:before {
			border-color: $color-white;
			border-width: 8px;
		}
		
		strong {
			color: $color-white;
		}
	}
}

/*
	Checkout User Step
*/
.checkout-user {
	
}

/*
	Checkout Categories Step
*/
.checkout-categories {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: -20px;
}

.checkout-categories__item {
	margin-bottom: 20px;
	
	input {
		display: none;
	}
	
	label {
		margin-right: 20px;
		border: 1px solid $color-gray;
		border-radius: 30px;
		height: 48px;
		padding: 0 25px;
		line-height: 46px;
		font-size: 20px;
		font-weight: $normal;
		cursor: pointer;
		
		&:hover {
			border-color: $color-green;
		}
	}
	
	input:checked + label {
		border-color: $color-green;
		background: $color-green;
		color: $color-white;
	}
}

/*
	Checkout Payment Info Step
*/
.checkout-cards {
	margin-bottom: 50px;
}

.checkout-cards__item {
	input {
		display: none;
	}
	
	label {
		display: flex;
		align-items: center;
		margin-bottom: 0;
		
		&:before {
			display: inline-block;
			margin-right: 30px;
			width: 26px;
			height: 26px;
			border: 2px solid $color-gray;
			border-radius: 50%;
			content: '';
		}
		
		&:hover:before {
			border-color: $color-green;
		}
	}
	
	input:checked + label {
		&:before {
			border-color: $color-green;
			border-width: 8px;
		}
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex__fill-gap {
	flex: 1;
}

.checkout-cards-fields__code {
	button {
		height: 50px;
		font-size: 16px;
		background: $color-green;
		align-self: flex-end;
		color: $color-white;
		font-weight: $bold;
		margin-left: 10px;
		
		&:hover, &:focus {
			color: $color-white;
			opacity: 0.8;
		}
	}
}

/*
	Checkout Total
*/
.checkout-total {
	background-image: linear-gradient(to left, $color-green, $color-green-light);
	padding: 30px 60px;
	border-radius: 7px;
	color: $color-white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	
	p {
		margin-bottom: 0;
		font-size: 25px;
	}
	
	a, button {
		color: $color-white;
		background-color: rgba(254, 254, 254, 0.3);
		padding: 15px 40px;
		border-radius: 7px;
		font-size: 28px;
		text-decoration: none;
		font-weight: $bold;
		border: none;
		
		&:hover, &:focus {
			opacity: 0.8;
		}
	}
	
	.fa {
		font-size: 20px;
	}
}

.checkout-total__loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($color-white, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 32px;
		height: auto;
	}
}