@@include('./_includes/head.html', {
"title": "Checkout"
})

<form id="checkout-form" method="post" action="mgl/v1/subscription/new">
	<section class="checkout-section">
		<div class="container">
			<header class="checkout-section__header">
				<h2><strong>Step 1:</strong> Select pricing plan</h2>
			</header>

			<div class="row">
				<div class="col-md-3 checkout-pricing-item">
					<input type="radio" name="pricing" id="month-1" value="month-1">
					<label for="month-1"><strong>1 Month</strong>- $49.99</label>
				</div>

				<div class="col-md-3 checkout-pricing-item">
					<input type="radio" name="pricing" id="month-3" value="month-3">
					<label for="month-3"><strong>3 Month</strong>- $99.99</label>
				</div>

				<div class="col-md-3 checkout-pricing-item">
					<input type="radio" name="pricing" id="month-6" value="month-6">
					<label for="month-6"><strong>6 Month</strong>- $224.99</label>
				</div>

				<div class="col-md-3 checkout-pricing-item">
					<input type="radio" name="pricing" id="month-12" value="month-12">
					<label for="month-12"><strong>12 Month</strong>- $466.99</label>
				</div>
			</div>
		</div>
	</section>

	<section class="checkout-section">
		<div class="container">
			<header class="checkout-section__header">
				<h2><strong>Step 2:</strong> Tell us about your brand</h2>
			</header>

			<div class="row checkout-user">
				<div class="col-md-4">
					<div class="form-group">
						<label for="first-name">First Name</label>
						<input type="text" class="form-control" id="first-name" placeholder="John">
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label for="last-name">Last Name</label>
						<input type="text" class="form-control" id="last-name" placeholder="Doe">
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label for="email-address">Email Address</label>
						<input type="text" class="form-control" id="email-address" placeholder="john.doe@me.com">
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label for="phone-number">Phone Number</label>
						<input type="text" class="form-control" id="phone-number" placeholder="999-999-9999">
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label for="brand-name">Brand Name</label>
						<input type="text" class="form-control" id="brand-name" placeholder="Toms">
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label for="job-title">Job Title</label>
						<input type="text" class="form-control" id="job-title" placeholder="VP, Marketing">
					</div>
				</div>

				<div class="col-md-8">
					<div class="form-group">
						<label for="website-url">Website URL</label>
						<input type="text" class="form-control" id="website-url" placeholder="www.toms.com">
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label for="social-textarea">Social or Ecological Impact (140 characters max)</label>
						<textarea class="form-control" id="social-textarea"
								  placeholder="For every item that you purchase, we donate one to a person in need."></textarea>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="checkout-section">
		<div class="container">
			<header class="checkout-section__header">
				<h2><strong>Step 3:</strong> Categories (select all that apply)</h2>
			</header>

			<div class="checkout-categories">
				<div class="checkout-categories__item">
					<input type="checkbox" id="technology">
					<label for="technology">Technology</label>
				</div>

				<div class="checkout-categories__item">
					<input type="checkbox" id="Beauty">
					<label for="Beauty">Beauty</label>
				</div>

				<div class="checkout-categories__item">
					<input type="checkbox" id="clothing">
					<label for="clothing">Clothing</label>
				</div>

				<div class="checkout-categories__item">
					<input type="checkbox" id="Food">
					<label for="Food">Food</label>
				</div>

				<div class="checkout-categories__item">
					<input type="checkbox" id="gifts">
					<label for="gifts">Gifts</label>
				</div>

				<div class="checkout-categories__item">
					<input type="checkbox" id="health">
					<label for="health">Health</label>
				</div>

				<div class="checkout-categories__item">
					<input type="checkbox" id="home">
					<label for="home">Home</label>
				</div>

				<div class="checkout-categories__item">
					<input type="checkbox" id="jewelry">
					<label for="jewelry">Jewelry</label>
				</div>

				<div class="checkout-categories__item">
					<input type="checkbox" id="kids">
					<label for="kids">Kids</label>
				</div>

				<div class="checkout-categories__item">
					<input type="checkbox" id="pets">
					<label for="pets">Pets</label>
				</div>

				<div class="checkout-categories__item">
					<input type="checkbox" id="shoes">
					<label for="shoes">Shoes</label>
				</div>
			</div>
		</div>
	</section>

	<section class="checkout-section checkout-section--payment">
		<div class="container">
			<header class="checkout-section__header checkout-section__header--w-subtitle">
				<h2><strong>Step 4:</strong> Enter your payment information</h2>
				<p>Every submission is reviewed by a member of our team. Your card will not be charged until listing is
					approved.</p>
			</header>

			<div class="row checkout-cards">
				<div class="col-md-2 checkout-cards__item">
					<input type="radio" name="payment" value="visa" id="visa">
					<label for="visa"><img src="images/visa-card.svg" alt="Visa"></label>
				</div>

				<div class="col-md-2 checkout-cards__item">
					<input type="radio" name="payment" value="mastercard" id="mastercard">
					<label for="mastercard"><img src="images/mastercard-card.svg" alt="Mastercard"></label>
				</div>

				<div class="col-md-2 checkout-cards__item">
					<input type="radio" name="payment" value="amex" id="amex">
					<label for="amex"><img src="images/amex-card.svg" alt="Amex"></label>
				</div>

				<div class="col-md-2 checkout-cards__item">
					<input type="radio" name="payment" value="paypal" id="paypal">
					<label for="paypal"><img src="images/paypal-card.svg" alt="PayPal"></label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group required">
						<label for="card-number">Card Number</label>
						<input type="text" class="form-control" id="card-number" placeholder="XXXX-XXXX-XXXX-XXXX"
							   required>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group required">
						<label for="postal-zip">Postal/Zip</label>
						<input type="text" class="form-control" id="postal-zip" placeholder="94587" required>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group required">
						<label for="cvv">CVV</label>
						<input type="text" class="form-control" id="cvv" placeholder="345" required>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group required">
						<label for="month">Month</label>
						<input type="text" class="form-control" id="month" placeholder="XX" required>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group required">
						<label for="year">Year</label>
						<input type="text" class="form-control" id="year" placeholder="XXXX" required>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group required">
						<label for="promo-code">Promo Code</label>
						<input type="text" class="form-control" id="promo-code">
					</div>
				</div>
			</div>

			<div class="checkout-total">
				<p><strong>Total:</strong> 12 Month - $466.99</p>

				<button type="submit">Submit Your Brand <span class="fa fa-chevron-right"></span></button>
			</div>
		</div>
	</section>
</form>

@@include('./_includes/footer.html')