@@include('./_includes/landing/head.html', {
"title": "Landing"
})

@@include('./_includes/landing/header.html')

<div class="notice flex--align-vertical">
	<div class="container">
		<div class="row flex--align-vertical">
			<div class="col-xl-9 col-lg-8 col-sm-9">
				<div class="h5">
					<p>Submit your brand by April 7 and get listed on both our directory and browser extension for <strong>FREE</strong> for <strong>ONE YEAR</strong> (a $478.99 value)! Use promo code ED2017</p>
				</div>
			</div>

			<div class="col-xl-3 col-lg-4 col-sm-3 text-right">
				<a href="#" class="btn btn--white">Learn More</a>
			</div>
		</div>
	</div>

	<button class="notice__close icon-close"></button>
</div>

<section class="background-gray-lighter background-gray-lighter--pattern pt150 pt50-sm-down mb100 mb50-sm-down">
	<div class="container mb150 mb50-sm-down">
		<div class="row flex--justify-center">
			<div class="col-md-12 text-center">
				<a href="#watch-video-1" class="btn-play">
					<img src="images/icon-play-circle.svg" class="img-80" alt="Play Icon">
					<p class="mb0 text-bold text-uppercase mt20">Watch Video</p>
				</a>

				<div class="remodal remodal--video" data-remodal-id="watch-video-1">
					<button data-remodal-action="close" class="remodal__close">
						<span class="icon-close"></span>
					</button>

					<div class="remodal__container remodal__container--video">
						<div class="js-video" data-type="vimeo" data-video-id="143418951"></div>
					</div>
				</div>

				<h3 class="h2 text-medium text-color-gray-darkest mt50 mb20">From Consumption to Cause-sumption</h3>
			</div>

			<div class="col-md-8 text-center mb30">
				<h1 class="h4">Introducing Miigle+, a free browser app that automatically shows you social good, eco and vegan-friendly brands for the products you’re shopping online.</h1>

				<h5 class="mt100 mb0 text-color-green text-regular">Live on Earth Day (April 22) 2017 - Get a reminder!</h5>
			</div>

			<form class="col-md-8 col-lg-6" id="newsletter-subscribe">
				<div class="form-row form-row--btn-right-inside flex flex--align-vertical">
					<input type="text" class="form-control flex__fill-gap email" name="EMAIL" id="mce-EMAIL" placeholder="Email Address">
					<button class="btn btn--large" type="submit">Get Notified</button>
				</div>
			</form>

			<div class="remodal remodal--video" data-remodal-id="newsletter">
				<div class="remodal__container">
					<h5>Thank you for subscribing!</h5>
				</div>
			</div>
		</div>
	</div>

	<img src="images/hero-cards-bg.png" class="element-block" alt="Hero Cards">
</section>

<section class="mt100 mt50-sm-down mb100 mb50-sm-down pb100 pb50-sm-down border-bottom border-green-lightest">
	<div class="container">
		<div class="tabs-bar mb100 mb50-sm-down">
			<ul>
				<li class="active"><a href="#consumer">I'm a consumer</a></li>
				<li><a href="#brand">I'm a brand</a></li>
			</ul>
		</div>
	</div>

		<div class="tabs-panel active" id="consumer">
			<div class="mb100 mb50-sm-down pb100 pb50-sm-down border-bottom border-green-lightest">
				<div class="container">
					<h2 class="h1 text-center text-color-green mb100 mb50-sm-down">How it works</h2>
					
					<a href="#watch-video-2" class="how-it-works-video mb100" style="background-image: url('images/how-it-works/how-it-works-video.png')">
						<button type="button" class="btn-play">
							<img src="images/icon-play-circle.svg" class="img-80" alt="Play Icon">
							<p class="mb0 text-bold text-uppercase mt20">Watch the 60 seconds animated explainer</p>
						</button>
					</a>

					<div class="remodal remodal--video-anim" data-remodal-id="watch-video-2">
						<button data-remodal-action="close" class="remodal__close">
							<span class="icon-close"></span>
						</button>

						<div class="remodal__container remodal__container--video">
							<div class="js-video" data-type="vimeo" data-video-id="143418951"></div>
						</div>
					</div>

					<div class="how-it-works">
						<article class="how-it-works__item row">
							<div class="col-md-7">
								<img src="images/how-it-works/how-it-works-01.jpg" alt="First step">
							</div>
							<div class="col-md-4"><p class="mb0">Get recommendations when searching products on search engines like Google, Yahoo and Bing</p></div>
						</article>

						<article class="how-it-works__item row">
							<div class="col-md-7">
								<img src="images/how-it-works/how-it-works-02.jpg" alt="Second step">
							</div>
							<div class="col-md-4"><p class="mb0">Get recommendations when shopping on online retailers like Amazon, Wal-Mart, Macy’s and more</p></div>
						</article>

						<article class="how-it-works__item row">
							<div class="col-md-7">
								<img src="images/how-it-works/how-it-works-03.jpg" alt="Third step">
							</div>
							<div class="col-md-4"><p class="mb0">Know when you’re visiting a social good brand and learn their social or environmental impact</p></div>
						</article>

						<article class="how-it-works__item row">
							<div class="col-md-7">
								<img src="images/how-it-works/how-it-works-04.jpg" alt="Fourth step">
							</div>
							<div class="col-md-4"><p class="mb0">Search and browse products directly on the extension</p></div>
						</article>

						<article class="how-it-works__item row">
							<div class="col-md-7">
								<img src="images/how-it-works/how-it-works-05.jpg" alt="Fifth step">
							</div>
							<div class="col-md-4"><p class="mb0">Create a profile and share your favorite social good products with your friends, family and the rest of the world</p></div>
						</article>

						<div class="text-center">
							<a href="#" class="btn btn--large">Download extension</a>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<h2 class="h1 text-center text-color-green mb100 mb50-sm-down">Pricing</h2>

				<div class="text-center">
					<h4 class="text-regular mb30">Miigle is absolutely FREE to install.</h4>
					<p class="h4 text-book mb100 mb50-sm-down">Click on the button below to get directed to the Chrome web store and add it to your browser.</p>

					<a href="#" class="btn btn--large">Download extension</a>
				</div>
			</div>
		</div>

		<div class="tabs-panel" id="brand">
			<div class="mb100 mb50-sm-down border-bottom border-green-lightest">
				<div class="container">
					<h2 class="h1 text-center text-color-green mb100 mb50-sm-down">How it works</h2>

					<a href="#watch-video-3" class="how-it-works-video mb100" style="background-image: url('images/how-it-works/how-it-works-video-2.png')">
						<button type="button" class="btn-play">
							<img src="images/icon-play-circle.svg" class="img-80" alt="Play Icon">
							<p class="mb0 text-bold text-uppercase mt20">Watch the 60 seconds animated explainer</p>
						</button>
					</a>

					<div class="remodal remodal--video-anim" data-remodal-id="watch-video-3">
						<button data-remodal-action="close" class="remodal__close">
							<span class="icon-close"></span>
						</button>

						<div class="remodal__container remodal__container--video">
							<div class="js-video" data-type="vimeo" data-video-id="143418951"></div>
						</div>
					</div>

					<div class="how-it-works">
						<article class="how-it-works__item how-it-works__item--brands row">
							<div class="col-md-2">
								<img src="images/how-it-works/pl-icon-consumers.svg" alt="Consumers Icon">
							</div>
							<div class="col-md-4"><p class="mb0">Get recommendations when searching products on search engines like Google, Yahoo and Bing</p></div>
						</article>

						<article class="how-it-works__item how-it-works__item--brands row">
							<div class="col-md-2">
								<img src="images/how-it-works/pl-icon-sales.svg" alt="Sales Icon">
							</div>
							<div class="col-md-4"><p class="mb0">Get recommendations when shopping on online retailers like Amazon, Wal-Mart, Macy’s and more</p></div>
						</article>

						<article class="how-it-works__item how-it-works__item--brands row">
							<div class="col-md-2">
								<img src="images/how-it-works/pl-icon-happy.svg" alt="Happy Icon">
							</div>
							<div class="col-md-4"><p class="mb0">Know when you’re visiting a social good brand and learn their social or environmental impact</p></div>
						</article>

						<article class="how-it-works__item how-it-works__item--brands row">
							<div class="col-md-2">
								<img src="images/how-it-works/pl-icon-seo.svg" alt="Seo Icon">
							</div>
							<div class="col-md-4"><p class="mb0">Search and browse products directly on the extension</p></div>
						</article>

						<article class="how-it-works__item how-it-works__item--brands row">
							<div class="col-md-2">
								<img src="images/how-it-works/pl-icon-recommended.svg" alt="Recommended Icon">
							</div>
							<div class="col-md-4"><p class="mb0">Create a profile and share your favorite social good products with your friends, family and the rest of the world</p></div>
						</article>
					</div>
				</div>
			</div>

			<div class="container">
				<h2 class="h1 text-center text-color-green mb100">Pricing</h2>

				<div class="text-center">
					<h4 class="text-regular mb30">Getting your brand listed on the Miigle Browser Extension is extremely affordable.</h4>
					<p class="h4 text-book mb100 mb50-sm-down">Our pricing model is a combination of a low annual subscription of $478.99 which partly covers your set-up costs including a listing in our directory plus a 20% commission for every sale generated through us. We don’t charge Cost-per-click or Cost-per-impression fees.</p>

					<div class="background-green-gradient p50 p25-sm-down mb100 mb50-sm-down">
						<a href="#" class="btn btn--outline mb30">Earth Day Promo</a>
						<p class="h4 text-book text-color-white mb0">Earth Day Promo: Submit your social good, eco or vegan-friendly brand by April 7 and we will fully waive the annual subscription fee for ONE YEAR (a $478.99 value)! Use promo ED2017 #EarthDay2017</p>
					</div>

					<a href="#" class="btn btn--large">Submit Your Brand</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mt100 mt50-sm-down mb100 mb50-sm-down pb100 pb50-sm-down border-bottom border-green-lightest">
	<div class="container">
		<h2 class="h1 text-center text-color-green mb100 mb50-sm-down">Featuring Brands Such as</h2>

		<div class="brands-carousel owl-carousel mb100 mb50-sm-down">
			<img src="images/brands/pl-icon-shoobs.svg" alt="">
			<img src="images/brands/pl-icon-moltin.svg" alt="">
			<img src="images/brands/pl-icon-techcrunch.svg" alt="">
			<img src="images/brands/pl-icon-bellabeat.svg" alt="">
			<img src="images/brands/pl-icon-ycombinator.svg" alt="">
		</div>

		<div class="text-center">
			<a href="#" class="btn btn--large">Submit your brand</a>
		</div>
	</div>
</section>

<section class="mt100 mt50-sm-down mb100 mb50-sm-down">
	<div class="container">
		<h2 class="h1 text-center text-color-green mb100 mb50-sm-down">Trusted By Many</h2>

		<div class="row flex--justify-center">
			<div class="col-md-10">
				<div class="testimonials-carousel owl-carousel">
					<div class="testimonials-carousel__item text-center">
						<p>Maecenas vitae purus in sem rutrum pharetra. Aliquam imperdiet lacus eu quam convallis pretium. Sed et consectetur dui. Proin id urna sed justo tempor laoreet vel a enim. In ut lacus dignissim, varius felis sed, gravida nibh.</p>
						<span>TechCrunch</span>
					</div>

					<div class="testimonials-carousel__item text-center">
						<p>Maecenas vitae purus in sem rutrum pharetra. Aliquam imperdiet lacus eu quam convallis pretium. Sed et consectetur dui. Proin id urna sed justo tempor laoreet vel a enim. In ut lacus dignissim, varius felis sed, gravida nibh.</p>
						<span>TechCrunch</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@@include('./_includes/landing/footer.html')