/*----------------------------------*\
    Fonts
\*----------------------------------*/
/*
	Font Face Mixin
*/
@mixin fontFace($family, $src, $weight: normal, $style: normal) {
	@font-face {
		font-family: $family;
		src: url('../fonts/' + $src + '.eot');
		src: url('../fonts/' + $src + '.eot?#iefix') format('embedded-opentype'),
	url('../fonts/' + $src + '.woff') format('woff'),
	url('../fonts/' + $src + '.ttf') format('truetype'),
	//url('../fonts/' + $src + '.otf') format('opentype'),
	url('../fonts/' + $src + '.svg') format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}

/*
	National Font
*/
/* Light */
@include fontFace('BrandonGrotesque','brandon-grotesque/light/BrandonGrotesque-Light', 300);

/* Regular */
@include fontFace('BrandonGrotesque','brandon-grotesque/regular/BrandonGrotesque-Regular', 400);

/* Medium */
@include fontFace('BrandonGrotesque','brandon-grotesque/medium/BrandonGrotesque-Medium', 500);

/* Bold */
@include fontFace('BrandonGrotesque','brandon-grotesque/bold/BrandonGrotesque-Bold', 700);

/* Black */
@include fontFace('BrandonGrotesque','brandon-grotesque/black/BrandonGrotesque-Black', 900);