/*----------------------------------*\
    Headings
\*----------------------------------*/
h1, h2 ,h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: inherit;
	font-weight: $book;
	line-height: 1.3;
}

h1, .h1 {
	font-size: $h1;
	
	small {
		font-size: $h2;
	}
}

h2, .h2 {
	font-size: $h2;
	
	small {
		font-size: $h3;
	}
}

h3, .h3 {
	font-size: $h3;
	
	small {
		font-size: $h4;
	}
}

h4, .h4 {
	font-size: $h4;
	
	small {
		font-size: $h5;
	}
}

h5, .h5 {
	font-size: $h5;
	
	small {
		font-size: $h6;
	}
}

h6, .h6 {
	font-size: $h6;
	
	small {
		font-size: 14px;
	}
}