/*----------------------------------*\
    Helpers
\*----------------------------------*/
/*
	Transitions
*/
@mixin transition($args: 200ms) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

/*
	Transforms
*/
@mixin transform($args) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}

/*
	Animations
*/
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($args) {
	-webkit-animation: #{$args};
	-moz-animation: #{$args};
	-ms-animation: #{$args};
	-o-animation: #{$args};
	animation: #{$args};
}
