$color-white: #FFFFFF;
$color-black: #000000;

$color-gray-light-medium: #ededed;
$color-gray-light-medium-2: #e3e3e3;
$color-gray-lighter: #f6f6f6;
$color-gray-light: #d8dce0;
$color-gray: #b7c2c7;
$color-gray-2: #777;
$color-gray-dark: #dddddd;
$color-gray-darker: #999999;
$color-gray-darkest: #45494E;
$color-gray-3: #95A9B4;
$color-gray-medium: #A0B1B9;

$color-green: #55b8b8;
$color-green-light: #83cbb4;
$color-green-lighter: #89d0bb;
$color-green-lightest: #d7e7e4;

$color-red: #f45266;
