/*----------------------------------*\
  	Variables
\*----------------------------------*/
/*
	Header
*/
$header-height: 90px;
$notice-height: 90px;

/*
	Fonts
*/
/* Import */

/* Families */
//$font-primary: "BrandonGrotesque", arial, sans-serif;
$font-primary: "brandon-grotesque",sans-serif;

/* Font Weights */
$thin: 100;
$light: 200;
$book: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

/* Font Sizes */
$h1: 60px;
$h2: 50px;
$h3: 36px;
$h4: 24px;
$h5: 20px;
$h6: 16px;

/*
	NextGrid
*/
$gutter: 10px;
$gutter-container: 20px;

/*
	Spacings
*/
$spacing-sizes: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100, 150;